In [1]:
import pandas as pd
import numpy as np

In [2]:
# !wget -nc https://files.grouplens.org/datasets/movielens/ml-20m.zip
# !unzip -n ml-20m.zip

In [3]:
df = pd.read_csv('ml-20m/ratings.csv')
df.drop(columns=['timestamp'],inplace=True)
df.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

In [4]:
topN = 100
topM = 50

In [5]:
users = np.array(df['userId'].value_counts()[1000:1000+topN].index)
movies = np.array(df['movieId'].value_counts()[1000:1000+topM].index)
df = df[(df['userId'].isin(users)) & (df['movieId'].isin(movies))].copy()

In [6]:
user_map = dict(zip(users, range(topN)))
movie_map = dict(zip(movies, range(topM)))
df['userId'] = df['userId'].map(user_map)
df['movieId'] = df['movieId'].map(movie_map)
df.head()

        userId  movieId  rating
182583      77        8     3.5
182630      77       46     3.5
182749      77       24     2.5
182823      77       32     3.5
182864      77       22     3.0

In [7]:
df.to_csv('small_filtered_ratings.csv', index=False)

In [14]:
users = np.array(df['userId'].value_counts()[df['userId'].value_counts()>=50].index)
movies = np.array(df['movieId'].value_counts()[df['movieId'].value_counts()>=100].index)
df = df[(df['userId'].isin(users)) & (df['movieId'].isin(movies))].copy()

In [16]:
user_map = dict(zip(users, range(len(users))))
movie_map = dict(zip(movies, range(len(movies))))
df['userId'] = df['userId'].map(user_map)
df['movieId'] = df['movieId'].map(movie_map)
df.head()

   userId  movieId  rating
0   30561      121     3.5
1   30561      589     3.5
2   30561       20     3.5
3   30561       19     3.5
4   30561       13     3.5

In [19]:
df.to_csv('filtered_ratings.csv', index=False)